<%- include("template/cabecera", {tituloWeb: 'Detalles del medallas' }) %>
    <div class="container">
        <h1>Detalles medallas</h1>
        <% if (error) { %>
            <%= mensaje %>
                <a href="/medallas" class="btn btn-dark btn-block my-2">
                    Volver
                </a>
                <% } %>
                    <% if (!error) { %>
                        <form id="editar" data-id="<%= medallas.id %>">
                            <input type="text" value="<%= medallas.nombre %>" class="form-control my-2" name="nombre"
                                id="nombreInput">
                            <input type="text" value="<%= medallas.Bio %>" class="form-control my-2" name="ciudad"
                                id="tipoInput">
                            <input type="text" value="<%= medallas.Ciudad %>" class="form-control my-2" name="gimnasio"
                                id="descripcionInput">
                                <button class="btn btn-warning btn-sm" type="submit">
                                    Editar
                                </button>
                                <button class="btn btn-danger btn-sm" data-id="<%= medallas.id %>">
                                    Eliminar
                                </button>
                        </form>
                        <hr>

                        <% } %>

    </div>
    <%- include("template/footer") %>
        <script>
            const btnEliminar = document.querySelector('.btn-danger')
            btnEliminar.addEventListener('click', async () => {
                console.log(btnEliminar.dataset.id)
                try {
                    // https://developer.mozilla.org/es/docs/Web/API/HTMLElement/dataset
                    const data = await fetch(`/medallas/${btnEliminar.dataset.id}`, {
                        method: 'delete'
                    })
                    const res = await data.json()
                    console.log(res)
                    if (res.estado) {
                        window.location.href = '/medallas'
                    } else {
                        console.log(res)
                    }
                } catch (error) {
                    console.log(error)
                }
            })
            
            const formEditar = document.querySelector('#editar');
            formEditar.addEventListener('submit', async (e) => {
                e.preventDefault()
                const nombre = formEditar.elements['nombre'].value
                const ciudad = formEditar.elements['ciudad'].value
                const gimnasio = formEditar.elements['gimnasio'].value
                const id = formEditar.dataset.id
                const data = await fetch(`/medallas/${id}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ nombre,ciudad,gimnasio})
                })
                const res = await data.json()
                if (res.estado) {
                    window.location.href = '/medallas'
                } else {
                    console.log(res)
                }
            })

        </script>